body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}

.container {
  flex: 1;
  display: flex;
}

.cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 48px;

}

.footer {
  height: 62px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 40vh;
  height: auto;
  padding: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}